*,*::before, *::after{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightcyan;
    font-size: 1.2rem;
    color: white;
}
.brand-logo img{
    height: 40px;
    width: 200px;
}
.main-nav ul{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}
.main-nav a{
    color: black;
    text-decoration: none;
    padding: 1rem;
}
.main-nav a:hover{
    color: blue;
    font-size: 30px;
    font-weight: 900;
}
.main-header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}


.main-image img{
     width: 100%;
}

.shopping-cart img{
    width: 20px;
}
.shopping-cart{
    padding: 7px;
    margin: 5px;
}
.product-title{
    text-transform: uppercase;
    color: rgb(21, 21, 39);
    font-weight: bolder;
    font-size: 30px;
    padding-bottom: 20px;
    }
.title-1{
  text-transform: uppercase;
    color: blue;
    font-weight: bolder;
    font-size: 70px;
    letter-spacing: 2.5px;
}
.title-2{
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 50px;
    color: lightgreen;
    letter-spacing: 2px;
}
.price-tag{
    color: rgb(167, 23, 124);
    padding: 5px;
    margin: 5px;
    
}
.price-bttn{
    justify-content: space-between;
    align-items: center;
}
.cart-border{
    border: 5px solid red;
}
.cart-img1 img{
    width: 70%;
    
}
.cart-img2 img{
    width: 100%;
}
.cart-section{
    margin-top: 40px;
}
 
@media all and (min-width: 480px) and (max-width: 768px) { 
    .main-image img{
        width: 300px;
   }
   .cart-img2 img{
    position: relative;
     display: none;
}
   
}
 
@media all and (max-width: 480px) {

    .main-image img{
        width: 400px;
   }
   .cart-img2 img{
       position: relative;
        display: none;
   }
   
 }